/* Estilos para react-slick */
.slick-dots {
  bottom: 20px !important;
}

.slick-dots li button:before {
  color: white !important;
  font-size: 12px !important;
  opacity: 0.5 !important;
}

.slick-dots li.slick-active button:before {
  opacity: 1 !important;
  color: #dc2626 !important;
}

.slick-arrow {
  z-index: 10 !important;
}

.slick-prev:before,
.slick-next:before {
  display: none !important;
}